---
layout: default
---
  <div class="wrapper">
    {% include sidebar.html %}
    <section id="content" class="content">
      <main role="main">
        <h1>{{ page.title }}</h1>
        
       


        

        <header class="m-meta-header">
            <div class="m-meta-header_right">
                 <span class="a-date">{{ page.date }}</span>
            </div>
            <div class="m-meta-header_left">
                <span class="u-visually-hidden">Status: </span>
                <a href="#" class="a-heading a-heading__icon">
                    {% include icons/pencil.svg %}
                    {{ page.implementation-status }}
                </a>
            </div>
        </header>

        <p class="lead-in">{{ page.description }}</p>
        
        <pre><code>{{ page.html-snippet | xml_escape | markdownify }}</code></pre>
        
        <pre><code>{{ page.jinja2-snippet | xml_escape | markdownify }}</code></pre>

        {{ content }}
      </main>
    </section>
  </div><!-- /.wrap -->
